# Node.js
node_modules/
.env
.env.local

# React / Build
build/
dist/
coverage/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
